.monospace {
  font-family: monospace;
}

.serif {
  font-family: serif;
}

.sansSerif {
  font-family: sans-serif;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.li {
  cursor: pointer;
  padding: 5px;
  border-radius: 12px;
  &:hover {
    background-color: #ccc;
  }
}
