.text {
  width: 50%;
  min-height: 50px;
  background-color: #ccc;
  border: 2px solid red;
  margin-bottom: 30px !important;
}

.cursive {
  font-family: cursive;
}

.monospace {
  font-family: monospace;
}

.serif {
  font-family: serif;
}

.sansSerif {
  font-family: sans-serif;
}
