.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.dark {
  background-color: #333;
  color: #ccc;
}

.light {
  background-color: #fff;
  color: #333;
}

.app {
  font-family: monospace;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #333;
}
